@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-league: "League Spartan", sans-serif;
  --font-lexend: "Lexend", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
